<%= content_for(:title, @taxon.name) %>
<%= render 'potepan/share/page_header', title: @taxon.name do %>
  <li><a href="#">shop</a></li>
  <li class="active"><%= @taxon.name %></li>
<% end %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'left_sidebar', taxonomies: @taxonomies %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'product_grid', products: @products %>
      </div>
    </div>
  </div>
</section>
<%= render 'potepan/share/partners_logo_slider' %>
