<%= content_for :title, "Single Product" %>
<%= render 'potepan/share/page_header', title: @product.name do %>
  <li class="active"><%= @product.name %></li>
<% end %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'single_product', product: @product %>
    <%= render 'products_content', related_products: @related_products %>
  </div>
</section>
